@model App_Test_Web.Models.Product


@{
    ViewData["Title"] = "Add";
}

<h1>Form adding a product to the warehouse</h1>

@Html.Partial("_AddProductForm", Model)
@Html.Partial("_AddProductForm", Model)
@Html.Partial("_AddProductForm", Model)